---
export interface Props {
  name: string;
  actions: { actionName: string; action: string; actionData: string }[];
}
const { name, actions } = Astro.props as Props;
---

<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
  <!--begin::Page hero container-->
  <div
    id="kt_app_toolbar_container"
    class="app-container container-fluid d-flex flex-stack">
    <!--begin::Page title-->
    <div
      class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <h1
        class="page-heading d-flex text-gray-700 fw-bold fs-3 flex-column justify-content-center my-8">
        {name}
      </h1>
    </div>
    <!--end::Page title-->
    <!--begin::Actions-->
    <div class="d-flex align-items-center gap-2 gap-lg-3">
      {
        actions.map((action) => {
          if (action.action === "modal") {
            return (
              <button
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_1"
                class="btn btn-sm fw-bold btn-primary"
                data-productId={action.actionData}>
                {action.actionName}
              </button>
            );
          } else {
            return (
              <button type="button" class="btn btn-sm fw-bold btn-primary" data-productId={action.actionData}>
                {action.actionName}
              </button>
            )
          }
        })
      }
    </div>
    <!--end::Actions-->
  </div>
  <!--end::Page hero container-->
</div>