---
// Components
import NavItem from "./NavItem.astro";
import CartItem from "./CartItem.astro";

// Interfaces
import type IUser from "../../../interfaces/IUser";

// Default values for unauthorized user
let user = {name: "Stranger", email: "Unknown", cart: []} as IUser 

// Get the user from the server if a cookie exists
if(user.name === "Stranger" && Astro.cookies.get('jwt_token').value) {
  console.log("fetching user");
  
  const response = await fetch(`${import.meta.env.PUBLIC_SERVER_URL}/api/users/me/?populate=deep,3`, {
    headers: new Headers({
      'Authorization': `Bearer ${Astro.cookies.get('jwt_token').value}`, 
      'Content-Type': 'application/x-www-form-urlencoded'
    }),
  });
  const data = await response.json();
  user.name = data.username;
  user.email = data.email;
  user.cart = data.cart.map((cartItem: { id: number; title: string; price: number; image: { url: string; }; }) => {
    return {
      id: cartItem.id,
      title: cartItem.title,
      prie: cartItem.price,
      image: cartItem.image.url
    }
  })
}
---

<div class="app-navbar flex-shrink-0">
  <!--begin::Nav Item-->
  <NavItem icon="bag" name="Your cart">
    { user.name !== "Stranger" && (user.cart.length !==0 ? user.cart.map(cartItem => {
        return <CartItem cartItem={cartItem}/>
      }) : <div class="fw-semibold text-muted fs-7">Cart is empty</div>)
    }
    { user.name === "Stranger" && <div class="fw-semibold text-muted fs-7">Sign in to see you cart items</div>
    }
  </NavItem>
  <!--end::Nav Item-->
  <!--begin::Nav Item-->
  <NavItem icon="person-circle" name={user.name} email={user.email}>
    <!--begin::Logout button-->
    <div class="menu-item">
      { user.name !== "Stranger" && <button type="button" class="btn btn-light-primary w-100" id="sign_out">Sign out</button>}
      { user.name === "Stranger" && <a href="/auth/signin" class="btn btn-light-primary w-100" id="sign_out">Sign in</a>}
    </div>
    <!--end::Logout button-->
  </NavItem>
   <!--end::Nav Item-->
</div>

<script>
  //////////////////////////////////////////
  // Sign out
  const signOutBtn = document.querySelector("#sign_out") as HTMLElement
  signOutBtn.addEventListener("click", function() {
    // Delete cookie using 'cookie' endpoint
    fetch(`${import.meta.env.PUBLIC_CLIENT_URL}/cookie`)
    .then(res => {
      // Redirect
      window.location.href = "/auth/signin"
    })
    .catch(err => console.log(err))
  })
  //////////////////////////////////////////
  // Delete cart item
  const cart = document.querySelector("#cart") as HTMLElement
  cart.addEventListener('click', event => {
    const element = event.target as HTMLElement
    if (element.classList.contains("delete_btn")) {
      const cartItemToDeleteId = +element.getAttribute("data-id")!;
      // Get cart
      fetch(`${import.meta.env.PUBLIC_SERVER_URL}/api/users/me/?populate=deep,3`, {
        headers: new Headers({
          'Authorization': `Bearer ${document.cookie.slice(10)}`, 
          'Content-Type': 'application/x-www-form-urlencoded'
        }),
      })
      .then(res => res.json())
      .then(data => {
        // Update user cart, need only product ids --> example [3, 4, 6]
        const updatedCart = data.cart
          .filter((cartItem: { id: number }) => cartItem.id !== cartItemToDeleteId)
          .map((cartItem: { id: number }) => cartItem.id)

        fetch(`http://localhost:1337/api/users/${data.id}`, {
          method: "PUT",
          headers: new Headers({
            'Authorization': `Bearer ${document.cookie.slice(10)}`, 
            'Content-Type': 'application/json'
          }),
          body: JSON.stringify({cart: [...updatedCart]})
        })
      })
      .catch(err => console.log(err))
    }
  })
</script>